@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h4>Liste des droits d'accès configurés pour l'application</h4>
<table class="table table-bordered table-hover table-condensed">
    <thead>

        <tr>
            <th>
                Accès
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr >
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-align-right">
                    <a href="@Url.Action("Details", new { id = item.Id })" style="margin-right:5px;" class="btn btn-primary"><span class="fas fa-list"></span> Details</a>
                    <a href="@Url.Action("Edit", new { id = item.Id })" style="margin-right:5px;" class="btn btn-default"><i class="fas fa-edit"></i> Modifier</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger"><span class="fas fa-trash-alt"></span> Supprimer</a>

                </td>
            </tr>
        }
    </tbody>


</table>
