@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}
    <div>

        <h4>Suppression du role</h4>
        <h6 class="text-danger">Cette action pourrait entrainer un disfonctionnement de l'application. Ne le faites que si vous savez ce que vous faites.</h6>
        <p class="text-danger">la suppression de cet accès entrainera la suppression de tous ses comptes utilisateurs!!!</p>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Accès
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-danger" value="Supprimer" />
                    <a href="@Url.Action("Index")" style="margin-right:5px;" class="btn btn-default"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
                </div>
            </div>
        }
    </div>
