@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASSIST-Vente</h1>
    <p class="lead">ASSIST-VENTE est un logiciel de gestion et de suivi des ventes.</p>
    <p><a href="http://www.asp.net/identity" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <dl>
            <dt>Gestion du stock et de la caisse</dt>
            <dd>
                Vous pouvez suivre l'évolution de votre stock et meme faire des ajustements en cas d'écarts
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Gestion des droits d'accès</dt>
            <dd>
                Vous pouvez creer des comptes utilisateurs pour reguler l'accès au logiciel
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Notifications Automatiques</dt>
            <dd>
                Recevez des notifications quotidiennes directement dans votre boite mail.
            </dd>
        </dl>
    </div>
  
</div>